.cards {
  display: flex;
  gap: 36px;
  justify-content: center;
  flex-wrap: nowrap;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  width: 220px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  gap: 20px;
  

  /* Soft shadow */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  /* Soft outline glow */
  outline: none;
  box-shadow: 0 0 10px rgba(113, 126, 129, 0.3), 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card:hover { transform: translateY(-5px); box-shadow: var(--shadow-md); background-color: #ffffff7e; }
.card svg {
  width: 64px;
  height: 64px;
}

.card p {
  font-size: 25px;
  font-weight: 500;
}

