.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 32px 16px;
  background: linear-gradient(to bottom, white, #6791c4);
  padding: 2rem;
}


.charts-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  width: 100vw;   /* full width */
  max-width: 100%;
}
